@{
    int i = ViewBag.Index;
}

<div class="form-group">
    @Html.Label("Employees[" + i + "].Id", "Сотрудник №" + (i + 1).ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("Employees[" + i + "].Id", ViewBag.Employees as SelectList, new { @class = "form-control" })
        @Html.ValidationMessage("Employees[" + i + "].Id", "", new { @class = "text-danger" })
    </div>
</div>
