@{
    int i = ViewBag.Index;
}

<div class="form-group">
    @Html.Label("Ids", "Сотрудник №" + (i + 1).ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("Ids", ViewBag.Employees as SelectList, new { @class = "form-control" })
        @Html.ValidationMessage("Ids", "", new { @class = "text-danger" })
    </div>
</div>
