@model DiplomMSSQLApp.WEB.Models.BusinessTripListViewModel

@{
    ViewBag.Title = "Список командировок";
}

<h2>Список командировок</h2>
<hr />

<p>
    @Html.ActionLink("Добавить командировку", "Create", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Удалить все командировки", "DeleteAll", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Экспортировать данные в JSON файл", "ExportJson", null, new { @class = "btn btn-default" })
</p>

<div id="businessTripsTable">
    @Html.Partial("GetBusinessTripsData", Model)
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            // ajax paging
            $(document).on("click", "#contentPager a[href]", function () {
                $.ajax({
                    url: $(this).attr("href"),
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#businessTripsTable').html(result);
                    }
                });
                return false;
            });
        })
    </script>
}
