@{
    ViewBag.Title = "О проекте";
}

<h2>@ViewBag.Title</h2>
<hr />

<h4>Основные функции, реализованные в проекте</h4>

<ol>
    <li>Просмотр и редактирование информации об организации</li>
    <li>Работа с отделами</li>
        <ul>
            <li>добавление нового отдела</li>
            <li>редактирование информации об отделе</li>
            <li>просмотр подробной информации об отделе</li>
            <li>удаление отдела</li>
        </ul>
    <li>Работа со штатным расписанием</li>
        <ul>
            <li>поиск должностей</li>
            <li>добавление новой должности</li>
            <li>редактирование информации о должности</li>
            <li>просмотр подробной информации о должности</li>
            <li>удаление должности</li>
        </ul>
    <li>Работа с сотрудниками</li>
        <ul>
            <li>поиск сотрудников</li>
            <li>добавление нового сотрудника</li>
            <li>редактирование информации о сотруднике</li>
            <li>просмотр подробной информации о сотруднике</li>
            <li>удаление сотрудника</li>
        </ul>
    <li>Работа с командировками</li>
        <ul>
            <li>поиск командировок</li>
            <li>добавление новой командировки</li>
            <li>редактирование информации о командировке</li>
            <li>просмотр подробной информации о командировке</li>
            <li>удаление командировки</li>
        </ul>
    <li>Работа с отпусками</li>
        <ul>
            <li>поиск отпусков</li>
            <li>добавление нового отпуска</li>
            <li>редактирование информации об отпуске</li>
            <li>просмотр подробной информации об отпуске</li>
            <li>удаление отпуска</li>
        </ul>
    <li>Работа с графиками отпусков</li>
        <ul>
            <li>добавление нового графика отпусков</li>
            <li>редактирование информации о графике отпусков</li>
            <li>просмотр подробной информации о графике отпусков</li>
            <li>удаление графика отпусков</li>
        </ul>
    <li>Экспорт данных в файл в формате JSON</li>
    <li>Аутентификация и авторизация пользователей в системе</li>
</ol>
