@{
    ViewBag.Title = "Удаление всех сотрудников";
}

<h2>Удаление всех сотрудников</h2>
<hr />

<h4>Вы уверены, что хотите удалить всех сотрудников?</h4>
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-group">
        <input type="submit" value="Удалить" class="btn btn-primary" />
        @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-default" })
    </div>
}
