@{
    ViewBag.Title = "О проекте";
}
<h2>@ViewBag.Title</h2>

<p>
	Проект содержит четыре вкладки для работы со списками сотрудников, отделов, должностей и командировок.
    Вкладка 'Сотрудники' предоставляет возможности просмотра информации о сотрудниках, поиск сотрудников, добавление, обновление и удаление сотрудников.
    Вкладка 'Отделы' предоставляет возможности просмотра информации об отделах, добавление, обновление и удаление отделов.
    Вкладка 'Должности' предоставляет возможности просмотра информации о должностях, добавление, обновление и удаление должностей.
    Вкладка 'Командировки' предоставляет возможности просмотра информации о командировках, добавление, обновление и удаление командировок.
</p>
