@{
    ViewBag.Title = "О проекте";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Проект не имеет какой-либо практической ценности. Разрабатывался с целью изучения фреймворка ASP.NET MVC 5.
    Используемая СУБД: MS SQL Server. ER-диаграмму базы данных можно посмотреть в папке решения в файле 'ER-диаграмма БД.jpg'.
    Основная часть кода написана для работы с таблицей Employees.
    Основные функции, реализованные в проекте: CRUD-операции, фильтр для выборки сотрудников из БД,
    тестирование CRUD-операций (результаты тестов записываются в папку /Results), постраничный вывод, валидация данных.
    Использовались пакеты Entity Framework 6, AutoMapper, Ninject, Bootstrap, jQuery, Newtonsoft.Json.
</p>
