@{
    ViewBag.Title = "Удаление всех сотрудников";
}

<h2>Удаление всех сотрудников</h2>

<h3>Вы уверены, что хотите удалить всех сотрудников?</h3>
<div>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
