@{
    ViewBag.Title = "Удаление всех отпусков";
}

<h2>Удаление всех отпусков</h2>
<hr />

<h4>Вы уверены, что хотите удалить все отпуска?</h4>
<br />

<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-primary" />
            @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
