@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <h2>Ошибка</h2>
    <p>
        @Model
    </p>
    <p>
        <img src=@Url.Content("~/Content/Animations/Error.gif") alt="" height="50" />
    </p>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
