@{
    ViewBag.Title = "Удаление всех должностей";
}

<h2>Удаление всех должностей</h2>
<hr />

<h3>Вы уверены, что хотите удалить все должности?</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-primary" />
            @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
