@{
    ViewBag.Title = "Удаление всех свободных должностей";
}

<h2>Удаление всех свободных должностей</h2>
<hr />

<h4>Внимание! Будут удалены должности, на которые еще не принято ни одного сотрудника</h4>
<br />

<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-primary" />
            @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
